.vacio {
    color: red;
}

.map-responsive {
    position: relative;
    overflow: hidden;
    padding-bottom: 30%;
    /* Proporción de aspecto 16:9 (dividir altura entre ancho y multiplicar por 100) */
    height: 0;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.impx-contact {
    height: 420px;
    position: relative;
}