.vacio {
    color: red;
}

.map-responsive {
    overflow: hidden;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;
}

.map-responsive iframe {
    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;
}

.pagination .page-link {
    font-size: 14px; /* Tamaño de fuente personalizado */
    padding: 6px 10px; /* Ajuste el relleno según sea necesario */
  }
